<!DOCTYPE html>
<html lang="en">
<!-- Set this to the main language of your site -->
<head>
	<!-- Universal -->
	<meta charset="utf-8">
	<meta name="description" content="Methods and Tools Project">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Title Block -->
	<title>{% block title %}MT Project{% endblock %}</title>

	<!-- JQuery -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

	<!-- JQPlot -->
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jqplot.min.js')}}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jqplot.cursor.min.js')}}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jqplot.logAxisRenderer.min.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jqplot.min.css')}}" />

	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

	<!-- Site Style Sheet -->
	<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

	<!-- Site JS -->
	<script src="{{ url_for('static', filename='js/plots.js' )}}"></script>

	<!-- JS Block -->
	{% block js %}{% endblock %}


</head>
<body>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 align="center">Hello, World!</h1>
		</div>

		<div class="panel-body" align="center">
			<div class="col-xs-4" id="test-chart0" style="height:500px;"></div>
			<div class="col-xs-4" id="test-chart1" style="height:500px;"></div>
			<div class="col-xs-4" id="test-chart2" style="height:500px;"></div>
			<div class="col-xs-4" id="test-chart3" style="height:500px;"></div>
		</div>
	</div>

</body>
</html>
